### IDES ###
.vscode/
nbproject
.idea/
### macOS ###
.DS_Store
### Node ###
node_modules/
### WordPress ###
/languages/*.pot
/languages/*.mo
### Tmp ###
/_tmp/
composer.phar
/vendor/
*.map
package-lock.json
