### IDES ###
.vscode/
**/nbproject/
.idea/
### macOS ###
.DS_Store
### Node ###
node_modules/
### WordPress ###
/languages/*.pot
/languages/*.mo
### Tmp ###
/_tmp/
composer.phar
/vendor/
node_modules/
package-lock.json
*.css.map
*.js.map