.fixed .data {
    cursor: default;
}

.fixed .metadata-hidden {
    display: none;
}

.fixed .metadata-visible {
    display: block;
}

.fixed .column-level {
    width: 11%;
}

.fixed .column-message {
    width: 60%;
}

.fixed .column-datetime {
    width: 14%;
}

.fixed .column-datetime span[title] {
    -webkit-text-decoration: dotted underline;
    text-decoration: dotted underline;
}

.fixed .hidden {
    display: none;
}
