/* RRZE Log – List Table */

table.rrze-log-actionlog,
table.rrze-log-debug {
    table-layout: auto;
    tr.data {
        &:hover td {
            background: rgba(0, 0, 0, 0.04);
        }
    }

    tr.data:nth-of-type(even) td {
        background: rgba(0, 0, 0, 0.02);
    }
    tr.data.level-fatal {
	background: rgba(255, 0, 0, 0.2);
    }
    
    &.widefat td {
	color: black;
    }
    
    td.column-datetime {
	text-wrap: nowrap;	
    }
    
    th.column-level,
    td.column-level {
	width: 4em;
    }
    
    
    td.column-occurrences {
	text-align: center;
        vertical-align: middle;
      }

    
    a.rrze-log-message-toggle {
       text-decoration: none;
       color: inherit;
    }

    a.rrze-log-message-toggle:hover,
    a.rrze-log-message-toggle:focus {
	text-decoration: underline;
    }

    .rrze-log-message-full {
	display: none;
	margin-top: 6px;
    }

    td.column-message.rrze-log-expanded .rrze-log-message-full {
	display: block;
	pre {
	    white-space: pre-wrap;
	    font-family: monospace;
	    font-size: 0.9rem;
	    line-height: 1.5;
	    background: antiquewhite;
	    padding: 0.5rem;
	    margin: 0;
	}
    }

    td.column-message .rrze-log-message-full .rrze-log-copy {
	display: inline-block;
	margin-top: 6px;
    }

    td.column-message .rrze-log-message-full .rrze-log-copy .dashicons {
	vertical-align: middle;
    }

}
table.rrze-log-actionlog {
    
    .column-datetime,
    .column-level {
	min-width: inherit;
	width: 10%;
    }
    .column-siteurl {
	width: 20%;
    }
    .column-message {
	min-width: 50%;
	width: 60%;
	.rrze-log-message-full {
	    margin-left: -40%;
	}
    
	
    }
}


table.rrze-log-audit {
    td.siteurl {
	white-space: pre-wrap;
	font-family: monospace;
	font-size: 0.9rem;
	line-height: 1.5;
    }
    td.column-time {
	width: auto;
	text-wrap: nowrap;
      }
    
}