.wp-list-table {
    tr.data {
        td.column-message {
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    tr.metadata {
        display: none;

        &.metadata-hidden {
            display: none;
        }

        &.is-open {
            display: table-row;
        }
    }

    th,
    td {
        &.column-level {
            width: 11%;
        }
        &.column-message {
            width: 54%;
        }
        &.column-datetime {
            width: 14%;

            span[title] {
                -webkit-text-decoration: dotted underline;
                text-decoration: dotted underline;
            }
        }
    }

    .hidden {
        display: none !important;
    }
}
