/* RRZE Log – List Table */

table.wp-list-table {
    table-layout: auto;
    tr.data {
        &:hover td {
            background: rgba(0, 0, 0, 0.04);
        }
    }

    tr.data:nth-of-type(even) td {
        background: rgba(0, 0, 0, 0.02);
    }

    td.column-toggle {
        width: 32px;
        text-align: center;
        vertical-align: middle;
    }
    td.column-message {

    }
    .rrze-log-toggle {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 14px;
        line-height: 1;
        padding: 0;
    }

    tr.metadata {
        display: none;
         td {
                white-space: pre-wrap;
                font-family: monospace;
                font-size: 12px;
                line-height: 1.4em;
            }
        &.is-open {
          display: table-row;
        } 
    }

    tr.data.is-open {
      .rrze-log-toggle {
        transform: rotate(90deg);
      }
    }
}


